
body {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/tokyo.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    }
.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}

header{
    text-align: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url('../images/header.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    margin-top: 0%;
    padding-top: 2%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 57, 65);
    box-shadow:0 0 1em rgb(5, 5, 5);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
    color: white;
}

nav ul li{
    list-style: none;
    margin-right: 5rem;
}

nav ul li:last-child{

    margin-right: 0%;
}

section{
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
main{
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    font-size: 125%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0);
}

.sobre{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.imgconteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.img1{
    width: 20vw;
    height: 20vw;
    background-image: url("../images/imagem_holanda.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    transform: translateZ(.2px) scale(.75) translateX(-2%) translateY(2%) rotate(2deg);
    border: 20px solid white;

}

.img2{
    width: 20vw;
    height: 20vw;
    background-image: url("../images/header.jpeg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    transform: translateZ(.25px) scale(.75) translateX(-3%) translateY(2%) rotate(-2deg);
    border: 20px solid white;

}
.introducao{
    grid-auto-flow: column;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;

}
.introducao h1{
    margin-top: 0%;
}

.sobre{
    background-color: rgb(24, 24, 24);
    margin-left: 0%;
    margin-right: 0%;
}

@media only screen and (max-width: 900px) {

    nav ul{
        flex-direction: column;
        width: 100%;
        text-align: center;

    }
    nav ul li{
        margin-right: 0%;
        margin-bottom: 3%;
    }
    main{
        display: grid;
        margin-left: 0%;
        margin-right: 0%;
    }
    .curiosidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0%;  
        margin-right: 0%;
    }
    .introducao{
        margin: 0%;
    }
    .imgconteudo{
        flex-direction: column;
        align-items: center;
    }
    .img1{
        width: 80%;
        height: 300px;
    }
    .img2{
        width: 80%;
        height: 300px;

    }
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}
.slider {
    width: 80vw;
    height: 50vh;
    display: flex;
    max-width: 80%;    
  }
  .slide {
    position: relative;
    flex: 1 0 auto;
    transition: all 0.5s ease-in-out;
  }
  .slide:hover {
    flex: 5;
  }
  .slide1 {
    background-image: url("../images/imagem_holanda.jpg");
    background-position: center center;
    background-size: cover;

  }
  .slide2 {
    background-image: url('../images/imagem_holanda.jpg');
    background-position: center center;
    background-size: cover;
  }
  .slide3 {
    background-image: url('../images/imagem_holanda.jpg');
    background-position: center center;
    background-size: cover;
  }
  
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-left: 10%;  
    margin-right: 10%;  

}
.card{
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: pink;
    margin:5%;
}
.carta{
    display: block;
}
.imgcard{
    width: 200px;
    height: 200px;
    background-image: url('../images/flor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.vira:hover .card{
    transform: rotateY(180deg);
  }

.frente, .atras {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.atras {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    position: absolute;

  }

  footer{
      background-color: plum;
      display: flex;
      justify-content: center;
  }