
body {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/imagem_holanda.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    }

    header{
        background-color: rgb(78, 37, 68);
        z-index: 2;
    }
    nav{
        background-color: rgb(65, 32, 141);
    }

    a{
        color: wheat;
    }
section{
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
main{
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    font-size: 125%;
}

.sobre{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    text-align: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double white;
}
.imgconteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.introducao{
    grid-auto-flow: column;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;

}
.introducao h1{
    margin-top: 0%;
}

.sobre{
    background: rgba(24, 24, 24,0.8);
    margin-left: 0%;
    margin-right: 0%;
    border: 1px double white;
}

@media only screen and (max-width: 900px) {
    body{
        display: grid;
        font-size: 60%;
    }
    main{
        display: grid;
        margin-left: 0%;
        margin-right: 0%;
    }
    .curiosidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0%;  
        margin-right: 0%;
    }
    .introducao{
        margin: 0%;
    }

    .img1{
        width: 20vw;
        height: 20vw;
        border: 10px solid white;

    }
    .img2{
        width: 20vw;
        height: 20vw;
        border: 10px solid white;

    }
    
    .cidade{
        font-size: 80%;
        margin-top:0% !important;
    }

    .sumario{
        margin: 0px;
        flex-direction: column;
        padding: 2%;
        row-gap: 5px;
        flex-grow: 2fr;
    }
    
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}
.imgconteudo{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    transition: all 0.5s ease-in-out;
}

  
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-left: 10%;  
    margin-right: 10%;  

}
.card{
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: rgb(231, 204, 248);
    margin:5%;
    color: black;
    border: 1px double white;


}
.carta{
    display: block;
}
.imgcard{
    width: 200px;
    height: 200px;
}

#img1c{
    background-image: url('../imgitens/tenis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img2c{
    background-image: url('../imgitens/escova.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img3c{
    background-image: url('../imgitens/repelente.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img4c{
    background-image: url('../imgitens/agua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img5c{
    background-image: url('../imgitens/desodorante.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img6c{
    background-image: url('../imgitens/casaco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.vira:hover .card{
    transform: rotateY(180deg);
  }

.frente, .atras {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.atras {
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  footer{
    background-color: #05090f;
    background-image: url("https://www.transparenttextures.com/patterns/inflicted.png");
    display: flex;
    justify-content: center;
    color: white;
  }

#semumaborda{
    border-bottom: 0px;
}

.precos{
    display: flex;
    align-items:center;
    flex-direction: column;
    background: rgba(24, 24, 24,0.8);
    margin: 0px;
    column-gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;
    padding-left: 0%; 
    padding-right: 0%;

}

.sumario{
    display: flex;

}

summary::-webkit-details-marker {
    background: red;

}
summary::-webkit-details-marker {
    display: none
    }
    

details{
    margin-right: 5%;
}

.precos:last-child{
    margin-left: 0%;
}