
body {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../imagesvegas/giffundo.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    }

    header{
        background-color: rgb(180, 34, 34);
        z-index: 2;
    }
    nav{
        background-color: rgb(65, 32, 141);
    }

    .logo h1{
        color: black;
    }
section{
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
main{
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    font-size: 125%;
    box-shadow:

    inset -20px 0 30px white,  /* inner right cyan short */
    inset 20px 0 300px rgb(180, 34, 34),  /* inner left magenta broad */
    inset -20px 0 300px rgb(65, 32, 141), /* inner right cyan broad */
    -10px 0 80px white,        /* outer left magenta */
    10px 0 80px rgb(180, 34, 34);         /* outer right cyan */
}

.sobre{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    text-align: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px double white;
}
.imgconteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.img1{
    width: 20vw;
    height: 20vw;
    background-image: url("../imagesvegas/neon.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transform: rotate(2deg);
    border: 20px solid white;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0);
}

.img2{
    width: 20vw;
    height: 20vw;
    background-image: url("../imagesvegas/cassino.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(2deg);
    border: 20px solid white;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 23px 11px 7px 1px rgba(0,0,0,0);
}
.introducao{
    grid-auto-flow: column;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;

}
.introducao h1{
    margin-top: 0%;
}

.sobre{
    background: rgba(24, 24, 24,0.8);
    margin-left: 0%;
    margin-right: 0%;
    border: 1px double white;
}

@media only screen and (max-width: 900px) {
    body{
        display: grid;
        font-size: 60%;
    }
    main{
        display: grid;
        margin-left: 0%;
        margin-right: 0%;
    }
    .curiosidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0%;  
        margin-right: 0%;
    }
    .introducao{
        margin: 0%;
    }

    .img1{
        width: 20vw;
        height: 20vw;
        border: 10px solid white;

    }
    .img2{
        width: 20vw;
        height: 20vw;
        border: 10px solid white;

    }
    
    .cidade{
        font-size: 80%;
        margin-top:0% !important;
    }
    
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
}
.imgconteudo{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    transition: all 0.5s ease-in-out;
}

.imgcidade{
    height: 40vw;
    flex: 1 0 auto;
    justify-items: center;
}
.cidade{
    display: none;
    visibility: hidden;
    text-align: center;
    margin-top: 50%;
}
#img1:hover{
    flex: 5;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../imagesvegas/cassino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#img2:hover{
    flex: 5;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../imagesvegas/red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#img3:hover{
    flex: 5;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../imagesvegas/neon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgcidade:hover .cidade{
    display: flex;
    flex-direction: column;
    visibility: visible;
}


#img1{
    background-image:url("../imagesvegas/cassino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

#img2{
    background-image:url("../imagesvegas/red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;

}
#img3{
    background-image:url("../imagesvegas/neon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;

}


  
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-left: 10%;  
    margin-right: 10%;  

}
.card{
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: rgb(231, 204, 248);
    margin:5%;
    color: black;
    border: 1px double white;


}
.carta{
    display: block;
}
.imgcard{
    width: 200px;
    height: 200px;
}

#img1c{
    background-image: url('../imagessuica/montanha1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img2c{
    background-image: url('../imagessuica/pt.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#img3c{
    background-image: url('../imagessuica/cartao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.vira:hover .card{
    transform: rotateY(180deg);
  }

.frente, .atras {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.atras {
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  footer{
    background-color: #05090f;
    background-image: url("https://www.transparenttextures.com/patterns/inflicted.png");
    display: flex;
    justify-content: center;
    color: white;
  }

#semumaborda{
    border-bottom: 0px;
}