.italico{
    font-style: italic;
}
.sublinhado{
    font-style: unset;
}
/*Questão 3*/
.citacaoverde{
    color: green;
}
.citacaovermelhaazul{
    font-size: 20px;
}
.citacaovermelhaazul .vermelho{
    color: red;
}
.citacaovermelhaazul .azul{
    color: blue;
}
/*Questão 4*/
.bodycentralizado{
    text-align: center;
    background-color: rgb(190, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tituloazul{
    color: blue;
}
.autor{
    font-weight: bolder;
    font-style: italic;
}
.linhapreta{
    border: 1px solid black;
}
/*questão 5*/

.lorem{
    width: 400px;
}

.bodylorem{
    background-color: rgb(63, 64, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulolorem{
    color: rgb(248, 248, 145);
    font-size: 20px;
}
.plorem{
    color: white;
}
.smalllorem{
    color: white;
}
.linklorem{
    color:rgb(248, 248, 145);
}
.spanlorem{
    color:rgb(248, 248, 145);
    font-weight: bolder;
}

/*questão 6*/

.centralizado{
    text-align: center;
}
.centralizado a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2;
}
.parial{
    font-family: Arial, Helvetica, sans-serif;

}
.centralizadoarial{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}