html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    border-spacing: 0px;
    	transition: all 0.6s ease-in-out;

}

body{
    background-color: rgb(127, 74, 189);
    background-image: url(../overlay.png), linear-gradient(45deg, rgb(235, 109, 126) 15%, rgb(98, 77, 156) 85%);
}

a{
    text-decoration: none;
}

header{
    text-align: center;
    color: rgb(212, 212, 212);
    padding-top: 10%;
    padding-bottom: 7%;
    font-size: 170%;
    
    
}
header div{
    opacity: 0;
    animation: fade 3s 1s forwards; 
}

header a{
    color: rgb(212, 212, 212);
    text-decoration:none;
}

header h1{
    font-size: 250%;
    color: white;

}
header img{
    animation: angulo 1s;
}
@keyframes angulo{
    from {transform: rotate(-40deg);}
    to {transform: rotate(0deg);}
}

@keyframes fade{
    from {opacity: 0;}
  to {opacity:1;}
}
nav{
    background-color: white;
    text-align: center;
    padding: 2%;
    border-radius:0.5%;
    position: sticky;
    top: 0;
    z-index: 1;
    color: rebeccapurple;

}


nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    padding: 3%;
    text-decoration: none;
    color: black;
    font-size: 140%;
}

main{
    background-color: white;
    border-radius:25px;
    padding-bottom: 1%;

}
main p{
    color: rgb(63, 63, 63);
}
main>hr{
    background-color: rgb(190, 190, 190);
    height: 1px;
    border: 0; 
}

section hr{
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    height: 2px;
    width: 20%;
    border: none;
}
.conteudoinicial{
    margin: 6% 0% 15% 10%;
    position: relative;
}
.imgconteudo img{
    border-radius: 50%;
    margin-right: 10%;
    float: right;
}
.titulolinha{
    width: 60%;
    display: inline-block;
    text-align: left;
    font-size: 150%;
}

.titulolinha h1{
    font-size: 190%;
    font-weight: normal;
}
.titulolinha hr{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0px;
    margin-right: 0px;
}

.conteudoinicial::after {
    content: "";
    clear: both;
    display: table;
  }

.botao{
    text-decoration: none;
    padding: 2%;
    border:1px solid rgb(192, 191, 191);
    border-radius: 2%;
    color: gray;
}

.listaicones{
    margin: 10%;
}

.listaicones>h1{
    text-align: center;
    font-size: 250%;
    font-weight: normal;

}
.listaicones>ul{
    padding: 0%;
    padding-top: 10%;
    text-align: center;
    font-size: 130%;


}
.listaicones>ul>li{
    list-style: none;
    padding: 2% 0% 2% 3%;
    display: inline-block;
    width: 30%;
    
}

.listaicones>ul>li>i{
    font-size: 400%;
    display: inline-block;
    padding:5%;
    border:1px solid rgb(192, 191, 191);
    border-radius: 100%;
}
.listaicones>ul>li>i::before{
    font-size: 100%;
    border:1px solid rgb(192, 191, 191);
    border-radius: 100%;
    display: block;
    padding: 50px;
}
/*.listaicones>ul>li>i::after {
    content: "";
    clear: both;
    display: table;
  }*/

#simb1{
    color: rgb(235, 137, 153);
}

#simb2{
    color: rgb(155, 125, 238);
}

#simb3{
    color: rgb(131, 204, 204);
}

.wrapper{
    width: 80%;
    margin: auto;
}

.grafico{
    text-align: center;
    margin: 10%;
    font-size: 120%;

}

.grafico h1{
    text-align: center;
    font-size: 250%;
    font-weight: normal;

}

.grafico p{
    font-size: 150%;

}
.grafico ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
}

.grafico li{
    list-style: none;
    float: left;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 20%;
}

.listagrafico>ul>li>h2{
    margin: 0%;

}

.listagrafico>ul>li>p{
    margin: 0%;
    color: white;

}

.listagrafico>ul>li>i{
    font-size: 250%;
    color: white;
}

#primeiro{
    background-color: rgb(235, 137, 153);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#segundo{
    background-color: rgb(169, 145, 235);
}

#terceiro{
    background-color: rgb(146, 148, 240);
}

#quarto{
    background-color: rgb(142, 175, 212);
}

#quinto{
    background-color: rgb(142, 201, 212);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.conteudo1{
    width: 49%;
    display: inline;
    float: left;
    text-align: justify;
}

.conteudo p{
    padding-top: 5%;
    font-size: 120%;
    line-height:180%;
}
.conteudo2{
    width: 49%;
    display: inline;
    float: right;
    text-align: justify;
}


.conteudo::after {
    content: "";
    clear: both;
    display: table;
  }

.conteudofinal{
    text-align: center;
    margin: 10%;
    font-size: 120%;

}

.conteudofinal h2{
    text-align: center;
    font-size: 250%;
    font-weight: normal;
}

.conteudofinal p{
    font-size: 150%;

}

#botaoazul{
    background-color: rgb(115, 164, 219);
    margin-right: 2%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#botaoazul:hover{
    background-color: rgb(154, 194, 240);
}

footer{
    margin: 5%;
    color: rgb(212, 212, 212);
    font-size: 150%;
}

.conteudofooter{
    display: inline;
    width:45%;
    float: left;
    text-align: justify;
}

.conteudofooter a{
    color: rgb(212, 212, 212);
}

footer a{
    color: rgb(212, 212, 212);
}
.informationfooter{
    display: inline;
    width: 48%;
    float: right;

}
footer::after {
    content: "";
    clear: both;
    display: table;
  }

footer address{
    font-style: normal;
}

footer address dt{
    font-weight:bold ;
    display: inline;

}

footer address dd{
    display: inline;
    margin-inline-start:0px;
}

.informationfooter ul{
    list-style: none;
    padding-left: 0px;

}

.informationfooter li{
    float: left;
    margin-right: 5%;
    border:1px solid rgb(192, 191, 191);
    border-radius: 100%;
    padding: 3%;
}

.informationfooter li:hover{
    background-color: rgba(250, 250, 250, 0.2);
    cursor: pointer;
}

.informationfooter i{
    font-size: 125%;
    text-align: center;

}

.redesocialiconfb{
    padding-right: 50%;
}

.pfinal,.pfinal>a{
    color: white;
    text-align: center;
    font-size: 120%;
}
.pfinal{
    margin-bottom: 15%;
}

.aespecial{
    border-bottom: 1px dotted rgb(212, 212, 212);
}
.aespecial:hover{
    color:white;
    border: none;
}

.botao:hover{
    background-color: rgba(250, 250, 250, 0.2);
}